body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
.quiz-bg{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#58b6b9, #edf1cf);
}

.quiz{
  width: 500px;
  background-color:floralwhite;
  border-radius: 5px;
  animation: slidein .8s;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.quiz-front{
  transition: transform 0.2s;
}

.quiz-header{
  padding: 10px;
  text-align: center;
  color: blueviolet;
  filter: blur(.5px);
}
.quiz-header .result{
  font-size: 22px;
}

.quiz-list{
  padding-bottom: 15px;
  list-style: none;
}



/*  Radio Buttons Styles   */
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 8px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 16px;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: purple;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}.control-radio .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0.01;
      transform: scale(1);
  }
}
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
.control-radio input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
.control-radio span {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  color: #f441a5;
  filter: blur(.5px);
}





/* Submit button Styles */
button {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  z-index: 1;
  border-radius: 5px;
 }
 
 button:hover {
  animation: ani 8s linear infinite;
  border: none;
 }
 
 @keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 button:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  transition: .7s;
 }
 
 button:hover::before {
  filter: blur(20px);
 }
 
 button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 }

 .submit-button{
  font-size: large;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 40px;
  padding: 5px;
  /* background-color: #ABD7C5; */
  background: radial-gradient(#edf1cf, #43acb4);
  border-radius: 3px;
  cursor: pointer;
}